tr.odd {
    height: 16px;
    font-size: 12px;
    margin: 0;
    padding-left: 10px;
    background-color:#eeeeee;
}

tr.even {
    height: 16px;
    font-size: 12px;
    margin: 0;
    padding-left: 10px;
}

th.wicket_orderNone a {
    font-size: 13px;
    color:#000066;
    align: left;
}