{
    "properties":{
        "libDir":"./libs",
        "pluginsDir":"./plugins"
    },
    "controllers":{
        "org.clamshellcli.impl.CmdController":{
            "enabled":"true",
            "inputPattern":"\\s*(exit|help|sysinfo|time|setServer|cd|pwd|login|logout|get)\\b.*",
            "expectedInputs":[]
        },
         "de.twenty11.skysail.client.cli.controllers.NamedParamsController":{
            "enabled":"true",
            "inputPattern":"\\s*()\\b.*",
            "expectedInputs":[]
        }
    }
}