{
    "properties":{
        "libDir":"./libs",
        "pluginsDir":"./plugins"
    },
    "controllers":{
        "org.clamshellcli.impl.CmdController":{
            "enabled":"true",
            "inputPattern":"\\s*(exit|help|sysinfo|time|setServer|cd|pwd|login|logout|get|script)\\b.*",
            "expectedInputs":[]
        }
    }
}